.allvideos-container{
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    border-radius: 12px;
    padding: 12px;
    width: 90%;
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}

:host{
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.pages{
    display: flex;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 40px;
    width: fit-content;
    align-items: center;
    transform: translate(-50%, -50%);
    padding: 16px;
    bottom: 0;
    background-color: white;
    border-radius: 12px;

    span{
        width: 70px;
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 720px){
    .allvideos-container{
        padding-bottom: 140px;
    }
}