<div class="upload-container">
    <h2>Upload a video</h2>
    <form (submit)="uploadVideo()" [formGroup]="uploadVideoForm">
        <div class="input-container">
            <input placeholder="Title" formControlName="title">
            <p style="margin-bottom: 10px;" *ngIf="uploadVideoForm.get('title')!.errors && (uploadVideoForm.get('title')!.touched || submitted)" class="error nomargin-top">Enter a title with at least 8 letters...</p>
            <p style="margin-bottom: 10px;" *ngIf="!(uploadVideoForm.get('title')!.errors && (uploadVideoForm.get('title')!.touched || submitted))" class="nomargin-top error-placeholder">Placeholder</p>
        </div>
        <div class="input-container">
            <input placeholder="Description" formControlName="description">
            <p style="margin-bottom: 10px;" *ngIf="uploadVideoForm.get('description')!.errors && (uploadVideoForm.get('description')!.touched || submitted)" class="error nomargin-top">Enter a description with at least 8 letters...</p>
            <p style="margin-bottom: 10px;" *ngIf="!(uploadVideoForm.get('description')!.errors && (uploadVideoForm.get('description')!.touched || submitted))" class="nomargin-top error-placeholder">Placeholder</p>
        </div>
        <div class="input-container">
            <label for="file-upload" class="custom-file-upload" style="width: 80%;">
                <i class="fa fa-cloud-upload"></i> <span *ngIf="!selectedFile">Upload your Video(mp4)</span> <span *ngIf="selectedFile">{{fileInput.value}}</span>
            </label>
            <input id="file-upload"  style="cursor: pointer;" #fileInput type="file" (change)="onFileSelected($event)"/>
            <p style="margin-bottom: 10px;" *ngIf="(!selectedFile && submitted) || wrongFileType" class="error nomargin-top">Please select a Videofile(mp4)!</p>
            <p style="margin-bottom: 10px;" *ngIf="(selectedFile || !submitted) && !wrongFileType" class="nomargin-top error-placeholder">Placeholder</p>
        </div>
        <p *ngIf="error" style="margin: 0; position: relative;" class="error">Something went wrong! Please try again later! Send me an Email!</p>
        <p *ngIf="!error && !success" style="margin: 0; position: relative;" class="error-placeholder">Placeholder</p>
        <p *ngIf="success" style="margin: 0; position: relative; color:#43ff43; text-align:center;" class="error">Success! File uploaded successfully. It can take some minutes for it to finish converting on the Server.</p>
        <button type="submit">Upload</button>
    </form>
</div>