<div class="nav-container">
    <div class="main-functions">
        <button routerLink="videos" style="margin: 0;">All Videos</button>
        <button routerLink="myvideos">My Videos</button>
        <button routerLink="upload">Upload</button>
    </div>
    <h1 style="margin: 0; color: white;">MyTube</h1>
    <button (click)="logout()">Logout</button>
</div>
<div class="mobileNavbar">
    <button routerLink="videos" style="margin: 0;">All Videos</button>
    <button routerLink="myvideos">My Videos</button>
    <button routerLink="upload">Upload</button>
</div>