.background {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/img/backgroundlogin.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7); 
    background-blend-mode: multiply;
}

.resetpw-window {
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
}

.resetpw-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.resetpw-container {
    width: 100%;

    input {
        width: 100%;
        height: 36px;
        border-radius: 10px;
        border: 1px solid rgb(204, 204, 204);
        font-size: 15px;
        padding: 4px;
        padding-left: 10px;

        &:focus {
            outline-color: rgb(39, 80, 176);
            ;
        }
    }
}

.password-icon {
    position: absolute;
    right: 4px;
    top: 10px;
    z-index: 5;
    height: 25px;
}

.resetpw-btn {
    margin: 38px 0px;
}