<div class="background">
    <div class="resetpw-window">
        <h1>Reset Password</h1>
        <span style="margin-bottom: 20px;">Please enter your new password!</span>
        <form class="resetpw-form" (submit)="onsubmit()" [formGroup]="resetPasswordForm">
            <div class="resetpw-container">
                <div style="position: relative;">
                    <input #inputPw1 type="password" placeholder="Password" formControlName="password1">
                    <img [hidden]="inputThere1" class="password-icon" style="cursor:auto;" src="assets/img/password-icon.svg">
                    <img [hidden]="showPassword1 || !inputThere1" (click)="showPassword1 = true; inputPw1.type = 'text'" style="top:11px; right: 2px;" class="password-icon" src="assets/img/pw-show-icon.svg">
                    <img [hidden]="!showPassword1 || !inputThere1" (click)="showPassword1 = false; inputPw1.type = 'password'" style="height:27px; right: 3px;" class="password-icon" src="assets/img/pw-no-show-icon.svg">
                    <p style="margin-bottom: 10px;" *ngIf="resetPasswordForm.get('password1')!.errors && (resetPasswordForm.get('password1')!.touched || submitted)" class="error nomargin-top">At least 4 characters</p>
                    <p style="margin-bottom: 10px;" *ngIf="!(resetPasswordForm.get('password1')!.errors && (resetPasswordForm.get('password1')!.touched || submitted))" class="nomargin-top error-placeholder">Placeholder</p>
                </div>
                <div style="position: relative;">
                    <input #inputPw2 type="password" placeholder="Password" formControlName="password2">
                    <img [hidden]="inputThere2" class="password-icon" style="cursor:auto;" src="assets/img/password-icon.svg">
                    <img [hidden]="showPassword2 || !inputThere2" (click)="showPassword2 = true; inputPw2.type = 'text'" style="top:11px; right: 2px;" class="password-icon" src="assets/img/pw-show-icon.svg">
                    <img [hidden]="!showPassword2 || !inputThere2" (click)="showPassword2 = false; inputPw2.type = 'password'" style="height:27px; right: 3px;" class="password-icon" src="assets/img/pw-no-show-icon.svg">
                    <p *ngIf="resetPasswordForm.get('password2')!.errors && (resetPasswordForm.get('password2')!.touched || submitted)" class="error nomargin-top">At least 4 characters</p>
                    <p *ngIf="!(resetPasswordForm.get('password2')!.errors && (resetPasswordForm.get('password2')!.touched || submitted))" class="error-placeholder nomargin-top">Placeholder</p>
                </div>
            </div>
            <p *ngIf="error" style="margin: 0; position: relative;" class="error">Something went wrong! Check if the passwords are the same.</p>
            <p *ngIf="!error && !success" style="margin: 0; position: relative;" class="error-placeholder">Placeholder</p>
            <p *ngIf="success" style="margin: 0; position: relative; color:green;" class="error">Success! You can Login with your new password.</p>
            <button *ngIf="!success" class="resetpw-btn">Submit</button>
            <button type="button" routerLink="login" *ngIf="success" class="resetpw-btn">Go to Login</button>
        </form>
    </div>
</div>